.header-container {
  background-color: lightgray;
}

.header-container nav {
  height: 8vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container nav img {
  width: 2.4rem;
  margin: 1rem;
  display: none;
}

.header-container nav .logo {
  margin: 1rem;
  border: 1px solid black;
}

.header-container nav .nav-list {
  width: 20rem;
  /* border: 1px solid black; */
  display: flex;
  gap: 1rem;
  list-style: none;
}

.header-container nav .nav-list li {
}

@media (max-width: 768px) {
  .header-container nav {
    justify-content: flex-start;
  }
  .header-container nav img {
    border: 1px solid black;
    display: block;
  }
  .header-container nav .nav-list {
    width: 50vw;
    height: 92vh;
    /* display: none; */
    position: absolute;
    top: 8vh;
    left: -100%;
    transition: left;

    background-color: #212121;
    flex-direction: column;
  }

  .header-container nav .nav-list li {
    padding: 1rem;
  }
}
